<aside class="admin-sidebar">
    <div class="sidebar-brand">
        <a href="{{ path('app_admin_dashboard') }}" data-turbo="false">
            <img src="{{ asset('img/logo/Logo CITC_Couleur gris.png') }}" alt="CITC">
        </a>
    </div>
    <nav>
        <ul class="sidebar-menu">
            <li>
                <a href="{{ path('app_admin_dashboard') }}" class="{{ app.request.attributes.get('_route') == 'app_admin_dashboard' ? 'active' : '' }}">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3" y="3" width="7" height="7"></rect>
                            <rect x="14" y="3" width="7" height="7"></rect>
                            <rect x="14" y="14" width="7" height="7"></rect>
                            <rect x="3" y="14" width="7" height="7"></rect>
                        </svg>
                    </i>
                    <span>{{ 'app.admin.dashboard'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_admin_users') }}" class="{{ app.request.attributes.get('_route') == 'app_admin_users' ? 'active' : '' }}">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                    </i>
                    <span>{{ 'app.admin.users'|trans }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_admin_partenaire') }}" class="{{ app.request.attributes.get('_route') == 'app_admin_partenaire' ? 'active' : '' }}">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </i>
                    <span>{{ 'app.admin.partenaires'|trans }}</span>
                </a>
            </li>
                <a href="{{ path('app_home') }}" data-turbo="false">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                            <polyline points="16 17 21 12 16 7"></polyline>
                            <line x1="21" y1="12" x2="9" y2="12"></line>
                        </svg>
                    </i>
                    <span>{{ 'app.admin.quit'|trans }}</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Footer Sidebar -->
    <div class="sidebar-footer">
        <div class="sidebar-footer-lang">
            <a href="?_locale=fr" class="lang-btn-sidebar {% if app.request.locale == 'fr' %}active{% endif %}">FR</a>
            <a href="?_locale=en" class="lang-btn-sidebar {% if app.request.locale == 'en' %}active{% endif %}">EN</a>
        </div>
        <div class="sidebar-footer-copyright">
            <p>&copy; 2026 CITC</p>
        </div>
    </div>
</aside>
